@media screen and (max-width:1140px){
  .topMain{width:100%;}
  .banner_box{height:auto;}
  .slider_wrapper{max-width: 844px;}
  .new_box .prev{left: 30px; margin: 0 20px;}
  .new_box .next{right: 30px; margin: 0 20px;}
}
/* 
@media screen and (max-width:1000px){
  .new_box .prev{left:5%;}
  .new_box .next{right:5%;}
} */