/* google font */
@import url('/nemesis/data/font/Human.TTF');
@font-face{
  font-family: "Human";
  src: url('/nemesis/data/font/Human.TTF') format('opentype');
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

/* Reset CSS */
*{margin:0; padding:0; box-sizing:border-box;}
body{font-size:14px; font-family: 'Human', cursive;}
.clear:after{clear:both; display:block; content:'';}
.center{width:100%; height:auto; max-width:1100px; margin:auto;}
ol, ul{list-style:none;}
a{text-decoration: none; color:#111;}
img{display:block;}
button, input, textarea{outline:0; font-family: 'Human', cursive;-webkit-appearance: none;}
input[type="checkbox"]{-webkit-appearance: auto; border-radius:0; border:1px solid #eee;}
input::placeholder, textarea::placeholder{color:#555;}
input:focus, textarea:focus{background:#f8f8f8;}

/* Contents Wrap Style */
.wrap{width:100%; height:100%; _background:#fbfbfb;}